@import 'assets/scss';

.container{
  @include flex(row, center, center);
  height: 100vh;
  background-color: $pink;

  .todo-container{
    @include flex(column, flex-start, center);
    width: 40%;
    border: solid 1px $black;
    border-radius: 10px;

    .header{
      padding: 10px 0 10px 10px;
      font-weight: bold;
    }
    .form{
      padding: 10px 0 10px 10px;
      width: 100%;
      border-top: solid 0.5px $black;

      .input{
        border: none;
        background-color: transparent;
        outline: none;
      }
    }
  }
}

